# MongoDB
MONGODB_URI=mongodb://localhost:27017/deepfake

# Backend
PORT=5000

# Inference
INFERENCE_URL=http://localhost:8000
MODEL_PATH=./efficientnet_deepfake_final.h5
MODEL_URL=https://github.com/Sourav-Singhhh/Deepfake/releases/download/model-v1/efficientnet_deepfake_final.h5
MODEL_SHA256=453B75015867277BB6F7ADC25454B18402C765212080D755C9EB31C663B4B0DE
ALLOW_MESONET_FALLBACK=false
ALLOW_PLACEHOLDER_MODEL=false

# Frontend
REACT_APP_API_URL=http://localhost:5000/api
